.top{
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 250px;
    height: 25px;
    margin: 10px 620px;
    font-size: larger;
    padding-top: 5px;
    font-weight: bold;
}
a{
    text-decoration: none;
    font-size: larger;  
    color: black;
    font-weight: bolder;  
}
.a{
    margin-top: 20px;
    margin-left: 20px;
}
.container{
    display: flex;
    flex-wrap: wrap;   
}
a:hover{
    color: red;
    text-decoration: underline;
}
.one{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color:#00a8ff ;
}
.two{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color: #9c88ff;
}
.three{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color:#fbc531 ;
}
.four{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color:#4cd137 ;
}
.five{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color: #487eb0;
}
.six{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color: #0097e6;
}
.seven{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color:#8c7ae6 ;

}
.eight{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color: #e1b12c;
}
.nine{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color: #44bd32;
}
.ten{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color:#40739e ;
}
.eleven{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color: #e84118;
}
.twelve{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color:#f5f6fa ;
}
.thirteen{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color:#7f8fa6 ;
}
.fourteen{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color: #273c75;
}
.fifteen{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color:#353b48 ;
}
.sixteen{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color: #c23616;
}
.seventeen{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color:#dcdde1;
}
.eighteen{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color: #718093;
}
.nineteen{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color: #192a56;
}
.twenty{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color: #2f3640;
}